<html>
    <head>
        <title>Title Search</title> 

    </head>
    <body>
        <h2>
            Search for album title:
        </h2>
        <form method="POST" action="/detail">
          <div>
            <input type="text" name="title" placeholder="title">
            <button>Search</button>
          </div>
        </form>
        
        <p>
        <h2>Album index</h2>
    
            {{#each albums}}
            <li><a href="/detail?title={{title}}">{{title}}</a></li>
            {{/each}}
        
        </p>
    </body>
</html>